.sky{
    background-color: #00aedb;
}
.salad{
    background-color: #8cc63f;
}
.fiolet{
    background-color: #5261ac;
}

.orange{
    background-color: #f78f1d;
}
.red{
    background-color: #ff0000;
}
body{
    margin: 0;
    background-color: #ebebeb;
}
.pink{
    background-color: #ec098d;
}