
.bold{  font-weight: bold;  }
.bolder{  font-weight: bolder;  }

.tiny{  font-size: 10px;  }
.small{  font-size: 12px;  }
.middle{  font-size: 15px;  }
.big{  font-size: 17px;  }
.huge{  font-size: 20px;  }
