
.owl-carousel{
    background: #fd926d;
    padding: 30px 0;
}

.carousel .holder .holder-wrapper div:first-child{
    position: relative;
    cursor: pointer;
}

.carousel .carousel-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 88%;
    transition: 500ms;
}

.carousel .carousel-menu ul li {
    width: 183px;

    display: flex;
    align-items: center;
    cursor: pointer;

    text-align: center;
    text-transform: uppercase;
    background: #fff;
    padding: 0 40px;
    transition: 500ms;
}

.carousel .carousel-menu ul li:hover {
    background: #fd926d;
    transition: 500ms;
}

.carousel .carousel-menu ul li:hover a {
    color: #fff;
    transition: 500ms;
}

.carousel  .carousel-menu ul .active {
    background: #e38362;
}

.carousel .carousel-menu .active a {
    color: #fff;
}

.carousel .carousel-menu ul li a {
    color: #000;
}

.carousel .carousel-menu ul {
    display: flex;
    justify-content: flex-end;
    /*width: 60%;*/
}

.carousel-menu .arrows {
    display: flex;
    justify-content: flex-end;
}

.triangle{
    display: none;
}

.carousel .arrows .disabled{
    width: 60px;
    height: 46px;
    background:  #f7f7f7;
}
.carousel .arrows .disabled:hover {
    background: #fd926d;
    transition: 500ms;
}

.arrows .arrow-left,
.arrows .arrow-right {
    position: relative;
    z-index: 1;
    top: 45%;
    width: 10px;
    height: 10px;
    border-left: 3px solid gray;
    border-bottom: 3px solid gray;
}

.arrows .arrow-right {
    left: 40%;

}

.arrows .arrow-left {
    left: 45%;
}
.holder .holder-wrapper {
    transition: .5s;
}
.holder:hover .holder-wrapper {
    transition: .5s;
    box-shadow: 0 5px 20px 0 #000;
}

 .holder .carousel-content{
    display: flex;
    text-align: center;
    align-items: center;
     justify-content: center;
    flex-direction: column-reverse;
    background: rgb(249, 249, 249);
     text-transform: uppercase;

}

.holder .carousel-content p .price{
    font-size: 30px;
}
 .holder .carousel-content button,
 .collage button{

    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 15px 10px;
    margin: 5px 5px;
    background: #fd926d;
    color: #fff;

}

.carousel .holder .holder-over{
    display: none;
}
 .holder .holder-over{
    display: none;
}
 .holder .holder-wrapper div:first-child:hover .holder-over{
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    width: auto;
    height: auto;
    transform:  translate(50%,-50%);
}

.top-model .holder .holder-wrapper div:first-child{
    /*height: 294px;*/
}
.carousel .holder{
    /*min-width: 220px;*/
}