* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}

.header-wrapper {
    background-color: #000000;
}

.header-bottom,
.social-line div,
.collage,
.carousel .carousel-menu,
.top-sales,
.top-sales,
.footer .dark-foot {
    width: 88%;
}




.user-line span {
    display: flex;
    align-self: center;

    text-transform: uppercase;
}

.user-line {
    margin: 0 auto;
    width: 86%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    color: #ffffff;
}

.user-line a {
    color: #ffffff;
}

.user-line .settings {
    display: flex;
    cursor: pointer;
    /*margin: 0 153px;*/
    text-transform: uppercase;
    font-family: sans-serif;
}

.user-line .settings li {
    position: relative;
}

.user-line li {
    line-height: 30px;
    padding: 0 20px;
    border-right: 1px solid #444444;
    text-align: center;
}

.user-line .settings .langueges {
    display: none;
    position: absolute;

}

.user-line .settings li:hover .langueges {
    display: block;
    position: absolute;
    background-color: #000;
    animation: navbar 250ms;
}

.user-line .settings li:hover {
    background-color: #900;
}

.user-line .settings li:hover .active {
    color: #fff;
}

.user-line .settings .search {
    width: 34px;
    padding: 0 0;
}

.user-line .settings .search form input {
    background: black url('../img/searchicon.png') no-repeat;
    width: 100%;
    border: none;
    background-position: 50% 50%;
}

.header-bottom {
    height: 88px;
    margin: 25px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-bottom img {
    margin: 23px 0;
}

.header-bottom .select-cart img{
    margin: 0;
}

.header-bottom .select-stuff {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-bottom select {
    border: none;
}

.header-bottom > img {
    width: 120px;
    height: 28px;
}

.header-bottom .select {
    display: flex;
    flex-direction: row;
}

/* -------------------------BURGER MENU------------ */

.header-bottom .select .burger {
    height: 40px;
    padding: 0 10px;

    display: none;
    color: #fff;
    background: #fd926d;
}

.header-bottom .select .burger h3 {
    display: flex;
    align-self: center;
    text-transform: uppercase;
}

.header-bottom .select .burger .burger-block {
    width: 23px;
    height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-bottom .select .burger .burger-block div {
    height: 4px;
    border-radius: 10px;

    background: #fff;
}

/* -----------------------------BURGER MENU--------------- */
.header-bottom div .select-cart {
    width: 212px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;

}
.select-cart{
    position: static;
}

.header-bottom .select-cart {
    display: none;
}

.header-bottom .select-cart .select-top {
    width: 212px;
    height: 40px;
    padding: 10px 10px;
    border: 1px solid #d6d6d6;
    margin: 0;
    color: #d6d6d6;
}

.header-bottom .select-cart .select-bottom {
    width: 212px;
    margin: 0;
    padding: 10px 10px;
    border: 1px solid #d6d6d6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #d6d6d6;
}
.ui-button:active .ui-icon{
    background-image: none;
}
.header-bottom .select-cart .select-top{
    background: white;
}
.select-top .ui-button:active .ui-icon{
    /*background-image: none;*/
}
.header-bottom .select-cart .ui-icon{
    position: absolute;

    transform: translateY(50%);
    top: 18%;
    left: 11.5em;
}


.main {
    margin: 0 0 25px 0;
}

.container {
    width: 100%;
    height: 484px;
    position: relative;

}

.slide-img {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 100;
}

.slide-img img {
    width: 100%;
    height: 100%;
}

#i0,
#i1,
#i2,
#i3,
#i4,
#i5 {
    display: none;
}

.pre, .nxt {
    cursor: pointer;
    width: 30px;
    height: 90px;
    background-color: #fff;
    z-index: 11;
}

.pre {
    position: absolute;
    top: 40%;
    left: 0;
}

.nxt {
    position: absolute;
    top: 40%;
    right: 0;
}

.arrow-left,
.arrow-right {
    position: absolute;
    z-index: 11;
    width: 10px;
    height: 10px;
    border-left: 3px solid gray;
    border-bottom: 3px solid gray;
    top: 43%;
    left: 25%;

}

.arrow-left {
    transform: rotate(45deg);
}

.arrow-right {
    transform: rotate(225deg);
}

.nav-dots {

    width: 100%;
    height: 11px;
    bottom: 5%;
    position: absolute;
    z-index: 13;
    text-align: center;
}

.dots {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
    margin-right: 20px;
}

.slide-img {
    right: 100%;
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
    z-index: 9;
    right: 0;
    -webkit-animation: slider 1000ms;
    -o-animation: slider 1000ms;
    animation: slider 1000ms;
}

#i1:checked ~ .nav-dots #dot1,
#i2:checked ~ .nav-dots #dot2,
#i3:checked ~ .nav-dots #dot3,
#i4:checked ~ .nav-dots #dot4,
#i5:checked ~ .nav-dots #dot5 {
    background: #fd926d;
}

.social-line {
    background: #f7f7f7;
    margin: 50px 0;
}

.social-line div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 50px auto;
}

.social-line div ul {
    display: flex;
    align-items: center;
}

.social-line div ul li:first-child {
    display: flex;
    align-items: center;
 }

.social-line div ul img {
    height: 50px;
}

.social-line div ul img {
    background: #fff;
}

.social-line div form {
    display: flex;
    max-height: 58px;
    align-items: center;
    align-self: center;
}

.plus {
    height: 38px;
    border: none;
    padding: 0 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: #fd926d;
    font: normal 16px/normal Arial Black, Gadget, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css {
    width: 116px;
    border: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.collage {

    height: 350px;
    margin: 0 auto 75px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.collage img {
    height: 100%;
    width: 100%;
}

.collage > div:first-child {
    margin-right: 5px;
}

.col-two > div:first-child {
    margin-bottom: 5px;
}

.row-two > a:first-child {
    padding-right: 5px;
}

.col-one {
    width: 100%;
    height: 100%;
}

.col-two {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-one {
    height: 50%;
    width: 100%;
}

.row-two {
    display: flex;
    height: 50%;
    width: 100%;
}

.row-two a:last-child {
    position: relative;
}

.collage .col-two .row-two .shop-now {
    max-height: 32px;
    position: absolute;
    z-index: 2;
    top: 55%;
    right: 55%;
}

.collage .col-two .row-two button {

    display: flex;

    text-transform: uppercase;
    cursor: pointer;

    border: none;
    padding: 10px 10px;

    background: #4fafa0;
    color: #fff;
    transition: .5s;
}

.collage .col-two .row-two a .shop-now:hover button {
    background: #5fbfa4;
}

.collage .triangle {
    content: '';
    width: 0;
    height: 0;

    display: flex;
    align-self: center;
    margin-left: 10px;

    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #fff;
}

.row-two a {
    width: 100%;
}

.top-sales {

    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-sales .rectangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-sales .rectangle > div > img {
    padding: 0 18px;
}

.line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #d8d8d8;
}

.top-sales .top-model {
    max-height: 405px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-sales .holder:hover{

    position: relative;
    top: -10px;
    box-shadow: 0 5px 20px 0 #000;
}

.top-sales .holder {
    /*max-width: 220px;*/
}

.add {
    padding: 62px 0;
}

.add > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add .brends {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 106px;
    margin: 0 auto;
}

.about {
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    width: 67.7%;
    align-items: center;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #b8b8b8;
}

.about h3 {
    color: #000;
    font-size: 25px;
    padding-bottom: 20px
}

.pay {
    background: #f7f7f7;

}

.pay-systems {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    color: #b8b8b8;
}

.pay .pay-systems a, .pay .pay-systems span {
    margin-right: 10px;
}

.load-more{
    display: none;
}

/* ---------------------------FOOTER-----------*/
.footer .lighter-foot {
    background: #ededed;
}
.footer .lighter-foot ul{
    margin: 20px 10px 0 20px;
}

.footer .lighter-foot > div {
    display: flex;
    flex-direction: row;
}

.footer .lighter-foot .left {
    /*width: 50%;*/
    height: 100%;

    display: flex;
    flex-direction: row;

}

.footer .lighter-foot .left .left-one,
.footer .lighter-foot .left .left-two {
    display: flex;
    flex-direction: row;

}

.footer .lighter-foot .right {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .lighter-foot .right > img{
    margin: 20px 10px;
}

.footer .lighter-foot .left ul{
    height: 169px;
}
.footer .lighter-foot ul li:first-child a {
    font-weight: bolder;
    font-size: 20px;
    color: #000;
}

.footer .lighter-foot div ul li:first-child {
    padding-bottom: 20px;
}

.footer .lighter-foot div .social img {
    margin: 0 10px 10px 0;
}

.footer .lighter-foot div ul li a {
    color: #b8b8b8;
}

.footer .lighter-foot .rectangle {
    width: 106px;
    height: 106px;
}

.footer .lighter-foot ul li:hover {
    font-weight: bolder;
    font-size: 20px;
    transition: 500ms;
}

.footer .lighter-foot ul li:hover a {
    color: #000;
    transition: 500ms;
}

.footer {
    background: #000;
}

.footer .dark-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    min-height: 74px;
}

.menu-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    justify-items: auto;
}

.dark-foot li a {
    color: #737373;
    font-size: 11px;
}

.footer .dark-foot ul li {
    padding: 0 10px;
    border-right: 2px solid #737373;
}

.footer .dark-foot .copy li {
    color: #737373;
    border-right: none;
}

.footer .dark-foot ul li:hover {
    background: #737373;
    transition: 500ms;
}

.footer .dark-foot ul li:hover a {
    color: #000;
    transition: 500ms;
}

/* ---------------------------FOOTER-----------*/

@keyframes navbar {
    0% {
        opacity: 0;
        top: 37px;
    }
    100% {
        opacity: 1;
        top: 34px;
    }
}

@keyframes slider {
    0% {
        opacity: 0;
        right: 10px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}


